<header>
  <div class="container">
    <a routerLink="/" class="logo">Fluorite</a>
    <input type="text" (input)="onSearchChange($event.target.value)">
    <nav>
      <ul>
        <li><a routerLink="/">home</a></li>
        <li><a routerLink="/about">about</a></li>
        <li><a routerLink="/contact">contact up</a></li>
        <li><a routerLink="/profile">profile</a></li>
      </ul>
      <div class="notifications">
      </div>
      <div class="user">es me var useri</div>
    </nav>
  </div>
</header>