$yell: #f3ee69;
$purp: #8b429b;
header {
    // position: sticky;
    // top: 0;
    width: 1366px;
    max-width: 100%;;
    margin: 0 auto;
    padding-top: 5xp;
    position: absolute;
    padding-right: 20px;
    font-size: 18px;
    top: 0;
    position: fixed;
    .container{
        // background: #7700FF;
        display: flex;
        justify-content: space-between;
        .logo {
            padding: 10px;
            font-weight: bold;
            list-style-type: none;
            text-decoration: none;
            display: flex;
            font-size: 20px;
            align-items: center;
            color: rgb(207, 150, 231);
            font-family: 'Baloo Thambi', cursive;
            // font-family: 'Muli', sans-serif;
            // font-family: 'Mukta', sans-serif;
            // font-family: 'Comfortaa', cursive;
        }
        .in{
            display: flex;
            align-items: center;
            position: relative;

            input[type="text"]
            {
                font-family: 'Muli', sans-serif;
            }

            
            input{
                
            display: inline-block;
            box-sizing: content-box;
            float: none;
            z-index: auto;
            width: auto;
            height: auto;
            position: static;
            cursor: default;
            opacity: 1;
            margin: 0;
            padding: 10px 10px;
            overflow: visible;
            border: 2px solid #ecadf4;
            border-radius: 17px;
            font: normal 16px/normal "Times New Roman", Times, serif;
            color: rgba(255,255,255,1);
            text-overflow: clip;
            background: none;
            transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
            transform: none;
            transform-origin: 50% 50% 0;
            background-color: rgb(37, 22, 36);

            margin: 10px;
            width: 400px;
            height: 8px;
            outline: none;
            z-index: 0;

        }
        
        .searching{
            list-style-type: none;
            left: 10px;
            top: 30px;
            border-radius: 10px;
            display: block;
            position: absolute;
            width: 423px;
            height: 200px;
            background-color: rgba(122, 132, 145, 0.466);
            z-index: -5;
            animation: aa ease 1s;
            padding: 10px;
            padding-top: 30px;
            overflow: hidden;

            
            a{
                position: absolute;
                bottom: 0px;    
            }
        }
        
        @keyframes aa {
            0%{
                opacity: 0;
            }
            100%{
                opacity: 1;
            }
        }


        }
        
        nav {
            display: flex;
            
            ul {
                list-style-type: none;
                display: flex;

                li {
                    
                    a {
                        display: flex;
                        align-items: center;
                        padding: 1.5em;
                        text-transform: uppercase;
                        font-size: .8em;
                        transform: background-color 21s;
                        transition: 0.7s;
                        &:hover {
                            background-color:$purp;
                            color: $yell;
                        }
                    }
                }
            }
           
            .notifications{
                // $size: 25px;
                // display: flex;
                // margin-top: 12px;
                // align-items: center;
                // background-image: url("/assets/bell-regular.svg");
                // background-repeat: no-repeat;
                // width: $size;
                // height: $size;
                // color: white;
                display: flex;
                align-items: center;
                padding-right: 15px;

                 
            }
            .user{
                padding-top: 16px;
            }
        }
    }
}

