<header>
  <div class="container">
    <a routerLink="/" class="logo">Fluorite</a>
    <div class="in">
      <input type="text" spellcheck="false" (input)="onSearchChange($event.target.value)">
      <ul  [class.searching]="search">
        <div class="const" *ngIf="search">
          <li *ngFor="let item of searchlist; let i = index">
           <app-in-search [movie]="item" ></app-in-search>
          </li>
          <a href="#">show more</a>
        </div>
      </ul>
    </div>
    <nav>
      <ul >
        <li><a routerLink="/home">home</a></li>
        <li><a routerLink="/about">about</a></li>
        <li><a routerLink="/contact">contact up</a></li>
        <li><a routerLink="/profile">profile</a></li>
      </ul>
      <div class="notifications">
        <i class="fa fa-bell"></i>
      </div>
      <div *ngIf="user" class="user" >
        <app-topprofile [user]="user"></app-topprofile>
      </div>
    </nav>
  </div>
</header>