.cont{
	width: 100%;
	display: flex;
	justify-content: center;
	height: 500px;
	perspective: 500px;

	ngx-slick-carousel{
		width: 30%;
		height: 400px;
		position: relative;
	}
}

// .slick-slide {
// 	// margin-top: 100px;
// //    height:600px;
// }

// .slick-slide img {
//    height:400px;
//    width: 300px;
// }
	